:root {
  --enable-numbering: true;
  --all-expanded: false;
  --aside-width: 320px;
  --header-height: 60px;
  --article-height: calc(100vh - var(--header-height));

  --aside-title-height: 60px;
  --function-panel-height: 60px;
  --aside-nav-height: calc(100vh - var(--aside-title-height) - var(--function-panel-height));

  --level-1-height: 40px;
  --level-others-height: 30px;

  --aside-title-padding: 10px 20px;
  --aside-function-item-padding: 10px 20px 10px 20px;
  --toc-root-level-1-padding: 10px 20px 10px 20px;
  --toc-root-level-2-padding: 10px 20px 10px 30px;
  --toc-root-level-3-padding: 10px 20px 10px 40px;

  --aside-bag: #f5f2ed;
  --aside-title-bag: #ede8dffb;
  /* --function-item-bag: transparent; */
  /* --aside-icon-bag: transparent; */

  --aside-title-hover-bag: #eee5d3;
  --aside-function-item-hover-bag: #eee5d3;
  --toc-root-a-hover-bag: #eee5d3;
  --resize-handle-hover-bag: #dfb663;

  --aside-title-font-color: #924d0ca9;
  /* --aside-normal-font-color: #2d2d2d; */
  --aside-function-item-font-color: #69390963;
  --toc-root-a-font-color: #542d06;

  --aside-divider-color: #eae5defe;

  --main-bag: #fffefc;
  --header-bag: #fffefc;
  --header-button-bag: #ebe5d9;
  /* --header-icon-bag: transparent; */

  --header-button-hover-bag: #dfb663;

  --header-border-color: #dfdfdf;

  --header-button-font-color: #2d2d2d;
  --header-title-font-color: #aeaeae;
  --header-icon-font-color: #b0b0b0;

  --active-font-color: #0574ea;

  --aside-title-font-size: 1.2rem;
  --aside-function-icon-font-size: 1rem;
  --aside-function-text-font-size: 0.8rem;
  /* --toc-root-a-line-height: 1.5rem; */
  --toc-root-a-level-1-font-size: 1rem;
  --toc-root-a-others-font-size: 1rem;
  --toc-root-arrow-font-size: 1.2rem;

  --header-button-font-size: 2rem;
  --header-button-padding: 10px;
  --header-button-border-radius: 50%;
  --header-title-font-size: 1.5rem;
  --header-icon-font-size: 1.5rem;
  --header-icon-padding: 10px;

  --article-font-color: #2d2d2d;

  --article-font-size: 1rem;
  /* --article-p-margin-top: 1.5rem; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

aside {
  position: relative;
  width: var(--aside-width);
  height: 100vh;
  background-color: var(--aside-bag);
  overflow: hidden;
  transition: width 0.3s ease;
}

aside.resizing {
  transition: none;
}

aside.hidden {
  width: 0;
}

.aside-title-large-screen,
.aside-title-small-screen {
  display: block;
  width: 100%;
  line-height: var(--aside-title-height);
  padding-left: 20px;
  text-align: left;
  background-color: var(--aside-title-bag);
  color: var(--aside-title-font-color);
  font-size: var(--aside-title-font-size);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.aside-title-large-screen:hover,
.aside-title-small-screen:hover {
  background-color: var(--aside-title-hover-bag);
}

.aside-title-small-screen {
  display: none;
}

#resize-handle {
  position: absolute;
  /* z-index: 10; */
  top: 0;
  right: 0;
  width: 4px;
  height: 100vh;
  background-color: transparent;
}

#resize-handle:hover {
  background-color: var(--resize-handle-hover-bag);
  cursor: col-resize;
}

#resize-handle.resizing {
  background-color: var(--resize-handle-hover-bag);
  cursor: col-resize;
}

.function-panel {
  width: 100%;
  height: var(--function-panel-height);
  border-bottom: 2px solid var(--aside-divider-color);
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-Numbering,
.icon-expand-all {
  width: 50%;
  height: 100%;
  padding: var(--aside-function-item-padding);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  color: var(--aside-function-item-font-color);
  font-size: var(--aside-function-icon-font-size);
  overflow: hidden;
}

.icon-Numbering .numbering-text,
.icon-expand-all .expand-all-text {
  font-size: var(--aside-function-text-font-size);
}

.icon-Numbering:hover,
.icon-expand-all:hover {
  background-color: var(--aside-function-item-hover-bag);
  cursor: pointer;
}

nav {
  width: 100%;
  height: var(--aside-nav-height);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0;
  scrollbar-width: none;
  /* Firefox 隐藏滚动条 */
  -ms-overflow-style: none;
  /* IE/Edge 旧版本隐藏滚动条 */
}

nav::-webkit-scrollbar {
  /*  Chrome、Safari、新版 Edge 隐藏滚动条 */
  display: none;
}

#toc-root,
#toc-root ol,
#toc-root li,
#toc-root a {
  width: 100%;
}

#toc-root li {
  list-style: none;
}

#toc-root a {
  font-size: var(--toc-root-a-others-font-size);
  /* line-height: 2em; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  color: var(--toc-root-a-font-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#toc-root > li > a {
  font-size: var(--toc-root-a-level-1-font-size);
  padding: var(--toc-root-level-1-padding);
  font-weight: 500;
}

#toc-root > li > ol > li > a {
  padding: var(--toc-root-level-2-padding);
}

#toc-root > li > ol > li > ol > li > a {
  padding: var(--toc-root-level-3-padding);
}

#toc-root li a:hover {
  background-color: var(--toc-root-a-hover-bag);
}

aside a {
  text-decoration: none;
  /* color: var(--aside-normal-font-color); */
}

#toc-root li ol {
  display: none;
  opacity: 0;
}

#toc-root li ol.show {
  display: block;
  opacity: 1;
}

span.icon-arrow2 {
  font-size: var(--toc-root-arrow-font-size);
  padding: 0px 10px;
}

span.rotate-90 {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.overlay {
  display: none;
}

main {
  position: relative;
  z-index: 5;
  width: calc(100vw - var(--aside-width));
  height: 100vh;
  background-color: var(--main-bag);
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s ease;
}

main.hidden {
  width: 100vw;
}

main.resizing {
  transition: none;
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bag);
  border-bottom: 1px solid var(--header-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  overflow: hidden;
}

.header-left {
  width: 33%;
}

.header-middle {
  width: 33%;
  text-align: center;
  font-size: var(--header-title-font-size);
  font-weight: 500;
  color: var(--header-title-font-color);
  overflow: hidden;
}

.header-right {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  background-color: transparent;
  color: var(--header-icon-font-color);
  font-size: var(--header-icon-font-size);
}

.icon-Aside,
.icon-menu3 {
  font-size: var(--header-button-font-size);
  padding: var(--header-button-padding);
  background-color: var(--header-button-bag);
  color: var(--header-button-font-color);
  border-radius: var(--header-button-border-radius);
}

.icon-Aside:hover,
.icon-menu3:hover {
  background-color: var(--header-button-hover-bag);
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.icon-menu3 {
  display: none;
}

header a {
  text-decoration: none;
  color: var(--header-icon-font-color);
}

article {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 20px 150px 20px;
}

article li {
  /* list-style: none; */
  list-style-position: inside;
  padding-left: 2em;
}

article a {
  color: var(--article-font-color);
}

@media screen and (max-width: 800px) {
  :root {
    --aside-width: 300px;
    --header-height: 0;
  }

  aside {
    position: absolute;
    z-index: 20;
    top: 0;
    left: calc(-1 * var(--aside-width));
  }

  aside.show {
    transform: translateX(var(--aside-width));
    transition: transform 0.3s ease-in-out;
  }

  .aside-title-large-screen {
    display: none;
  }

  .aside-title-small-screen {
    display: block;
  }

  #resize-handle {
    display: none;
  }

  .overlay {
    display: none;
  }

  .overlay.show {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.3);
  }

  main {
    position: relative;
    z-index: 5;
    width: 100vw;
  }

  header {
    height: var(--header-height);
    overflow: hidden;
  }

  /* .header-left {
    width: 20%;
  }

  .header-middle {
    text-align: left;
    width: 0;
  }

  .header-right {
    width: 45%;
    gap: 20px;
  } */

  .icon-Aside {
    display: none;
  }

  .icon-menu3 {
    display: block;
    position: fixed;
    z-index: 100;
    right: 40px;
    bottom: 100px;
  }

  .icon-menu3:hover {
    transform: rotateX(180deg);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
}

/* 行间距和段间距 */
p {
  line-height: 1.2;
  margin: 1rem 0;
}

/* 标题跳转时留出 header 高度 + 缓冲间距，防止被遮挡 */
article :is(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: calc(var(--header-height) + 2px);
}

/* mathjax.css */

span.math {
  font-size: 0.8rem;
}

span.math-space {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

div.math {
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  span.math {
    font-size: 1rem;
  }
  div.math {
    font-size: 1rem;
  }
}

/* highlight.css */

div.highlight {
  width: 90%;
  padding: 10px 15px;
  margin: 2rem 0;
  border-left: 3px solid #b8b8b8;
  background-color: #f8f9fa;
  border-radius: 4px;
}

table {
  width: 90%;
  border: 1px solid;
  border-collapse: collapse;
  overflow-x: auto;
}

table th,
table td {
  border: 1px solid;
  padding: 8px;
}

/* theoframe.css */

figure {
  width: 95%;
  margin: 20px auto;
  scroll-margin-top: calc(var(--header-height) + 2px);
  overflow: hidden;
}

article a {
  color: var(--article-font-color);
  text-decoration: none;
}

/* MathJax.css */

mjx-container[display="true"] {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox 隐藏滚动条 */
  -ms-overflow-style: none;
  /* IE/Edge 旧版本隐藏滚动条 */
}

mjx-container[display="true"]::-webkit-scrollbar {
  /*  Chrome、Safari、新版 Edge 隐藏滚动条 */
  display: none;
}
