        nav ol {
            counter-reset: item;
            list-style: none;
            padding-left: 1.2em;
        }

        nav ol li {
            counter-increment: item;
        }

        nav ol li::before {
            content: counters(item, ".") " ";
        }